@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"); /* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: cursive, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --heading-font: "Dancing Script", sans-serif;
  --primary-color: #f8f6f4;
  --secondary-color: #607274;
  --bg-color: #c4dfdf;
  --bg1-color: #d2e9e9;
  --bg2-color: #e3f4f4;
}

img {
  transition: all 0.3s ease-in-out;
}

img:hover {
  box-shadow: var(--bg-color) 0px 10px 32px 0px;
}

hr {
  color: var(--bg1-color);
  border: 1px solid var(--bg2-color);
}

/* Navigation Starts */
nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: var(--bg-color);
}

.heading-title {
  font-size: 4rem;
  font-family: var(--heading-font);
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

ul li {
  margin-left: 5rem;
}

ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--heading-font);
  transition: all 0.2s ease-in-out;
}

ul li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}

/* PDF Section Starts */
.pdf {
  padding: 5rem 0;
  text-align: center;
  background: var(--primary-color);
  height: 120vh;
}

.heading-title-pdf {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}

.heading-title-pdf span {
  font-family: var(--heading-font);
  color: var(--bg-color);
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.heading-title-pdf span:hover {
  background: var(--bg-color);
  color: var(--primary-color);
  border-radius: 20px;
}

#pdf-frame {
  border: none;
  background-color: var(--bg-color);
  height: 100vh;
  width: 60%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--bg-color) 5px 20px 42px 5px;
  transform: scale(0.9);
  transform-origin: top left;
}

/* Team Section Starts */
.team {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg2-color);
}

.team-haeading {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.card-main {
  height: auto;
  width: 90%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  align-items: center;
}

.card-main:hover,
.card-container .card:hover {
  border: 2px solid var(--bg-color);
  border-radius: 20px;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: right top;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
  font-family: serif;
}

.occupation {
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.icons-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.icons-list li {
  margin-left: 10px;
}

.icons-list li a {
  transition: all 0.2s ease-in-out;
}

.icons-list li a:hover {
  color: #fff;
}

/* Card Container */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

/* Individual Card */
.card-container .card {
  height: auto;
  width: 300px;
  border: 2px solid #00000000;
  padding: 20px;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

/* Footer Section Starts */
footer {
  height: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color);
  cursor: pointer;
}

footer .title {
  font-size: 5rem;
  font-family: var(--heading-font);
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 0.5rem 0;
}

footer ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

footer ul li a:hover {
  color: var(--primary-color);
}

/* Responsiveness */
@media only screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heading-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  ul {
    flex-direction: column;
    align-items: flex-start;
  }
  ul li {
    margin: 0.5rem 0;
  }
  ul li a {
    font-size: 1.5rem;
  }
  .pdf {
    padding-top: 3rem;
    height: 100vh;
  }
  .heading-title-pdf {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  #pdf-frame {
    width: 90%;
    height: 90%;
  }
  .team-haeading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .card-main,
  .card-container .card {
    width: 90%;
    margin: 1rem 0;
    align-items: center;
  }
  footer .title {
    font-size: 3rem;
  }
  footer ul li a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .heading-title {
    font-size: 2rem;
  }
  ul li a {
    font-size: 1.2rem;
  }
  .heading-title-pdf {
    font-size: 2rem;
  }
  .team-haeading {
    font-size: 2rem;
  }
  .card-main,
  .card-container .card {
    width: 95%;
    margin: 1rem 0;
  }
  footer .title {
    font-size: 2rem;
  }
  footer ul li a {
    font-size: 1.5rem;
  }
}
